.formInput {
    display: flex;
    flex-direction: column;
    margin-bottom: 0.5rem;
    min-width: 350px;
    gap: 0.5rem;
}

.labelStyles {
    font-weight: 600;
}

.inputStyles {
    border: 1px solid #2f5d7c;
    border-radius: 5px;
    padding: 10px 5px;
    cursor: text;
    font-family: unset;
}

.noValIntroduced {
    display: none;
    margin: 0;
    font-size: 13px;
    line-height: 16px;
    margin-top: 8px;
    text-align: left;
    color: #f02849;
}

@media screen and (max-width: 490px) {
    .formInput {
        min-width: 0px;
    }
}